.reactive {
  background-color: rgb(135, 255, 255);
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2vw;
  box-sizing: border-box;
}

.error {
  color: red;
}
